<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.spd.dao.DictionaryMapper">
  <resultMap id="BaseResultMap" type="com.my.spd.pojo.Dictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="value" jdbcType="INTEGER" property="value" />
    <result column="varchar1" jdbcType="VARCHAR" property="varchar1" />
    <result column="number1" jdbcType="INTEGER" property="number1" />
    <result column="date1" jdbcType="TIMESTAMP" property="date1" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, category, value, varchar1, number1, date1
  </sql>
  <select id="selectByExample" parameterType="com.my.spd.pojo.DictionaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.my.spd.pojo.DictionaryExample">
    delete from dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.my.spd.pojo.Dictionary">
    insert into dictionary (id, name, category, 
      value, varchar1, number1, 
      date1)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{value,jdbcType=INTEGER}, #{varchar1,jdbcType=VARCHAR}, #{number1,jdbcType=INTEGER}, 
      #{date1,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.my.spd.pojo.Dictionary">
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="varchar1 != null">
        varchar1,
      </if>
      <if test="number1 != null">
        number1,
      </if>
      <if test="date1 != null">
        date1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=INTEGER},
      </if>
      <if test="varchar1 != null">
        #{varchar1,jdbcType=VARCHAR},
      </if>
      <if test="number1 != null">
        #{number1,jdbcType=INTEGER},
      </if>
      <if test="date1 != null">
        #{date1,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.my.spd.pojo.DictionaryExample" resultType="java.lang.Long">
    select count(*) from dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update dictionary
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null">
        value = #{record.value,jdbcType=INTEGER},
      </if>
      <if test="record.varchar1 != null">
        varchar1 = #{record.varchar1,jdbcType=VARCHAR},
      </if>
      <if test="record.number1 != null">
        number1 = #{record.number1,jdbcType=INTEGER},
      </if>
      <if test="record.date1 != null">
        date1 = #{record.date1,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dictionary
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      value = #{record.value,jdbcType=INTEGER},
      varchar1 = #{record.varchar1,jdbcType=VARCHAR},
      number1 = #{record.number1,jdbcType=INTEGER},
      date1 = #{record.date1,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.spd.pojo.Dictionary">
    update dictionary
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=INTEGER},
      </if>
      <if test="varchar1 != null">
        varchar1 = #{varchar1,jdbcType=VARCHAR},
      </if>
      <if test="number1 != null">
        number1 = #{number1,jdbcType=INTEGER},
      </if>
      <if test="date1 != null">
        date1 = #{date1,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.spd.pojo.Dictionary">
    update dictionary
    set name = #{name,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      value = #{value,jdbcType=INTEGER},
      varchar1 = #{varchar1,jdbcType=VARCHAR},
      number1 = #{number1,jdbcType=INTEGER},
      date1 = #{date1,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>














  <select id="getAllCategory" resultType="java.lang.String">
    SELECT distinct category from dictionary
  </select>
</mapper>